@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IState<SideBarState> SidebarState;

@using Syncfusion.Blazor.Navigations
@using AccordionItem = OWAccordionItem


<SfSidebar @ref="sidebarObj" @bind-IsOpen="@SidebarState.Value.isOpen" MediaQuery="(min-width: 1000px)">
    <ChildContent>
        <div class="sidebar-item" id="toggle" @onclick="SidebarState.ToggleSidebar()">
            <span class="e-icons expand"></span>
        </div>

        <span class="e-avatar e-avatar-large e-avatar-circle image"></span>
        <div class="sidebar-name">
            <div class="sidebar-firstname">John</div>
            <div class="sidebar-lastname">Doughboy</div>
        </div>

        <SfAccordion>
            <AccordionItems>
                @foreach (var accordionItem in AccordionItems)
                {
                    <AccordionItem Header="@accordionItem.Header" IconCss="@accordionItem.IconCss"
                    Expanded="@accordionItem.Expanded">
                        <ContentTemplate>
                            <ul>
                                @foreach (var content in accordionItem.Content)
                                {
                                    <li><span class="@content.IconCss">@content.Text</span> </li>
                                }
                            </ul>
                        </ContentTemplate>
                    </AccordionItem>
                }
            </AccordionItems>
        </SfAccordion>
        <NavLinks />
    </ChildContent>
</SfSidebar>

@code {

    [Parameter] public List<AccordionItem> AccordionItems { get; set; }
    private SfSidebar sidebarObj;
}
